# .env文件配置示例

# 登录账号
MIZUKI_USERNAME=这里填登录账号
# 登录密码
MIZUKI_PASSWORD=这里填登录密码
# jwt私钥
JWT_SECRET=这里填一个JWT私钥, 比如: 2f7e962e8b3a0d5e...
# 项目根目录
BASE_PATH=这里填Mizuki项目的根路径, 比如: C:/Users/Administrator/Desktop/Mizuki-master
# 项目部署路径
DEPLOY_DIR=这里填Mizuki项目的dist路径, 比如: C:/Users/Administrator/Desktop/Mizuki-master/dist
# 后端服务运行端口 兼生产环境访问端口
PORT=3001
# (仅限开发环境) 前端运行端口
FRONTEND_DEV_PORT=3000