@use '../utils/_mixins.scss' as mix;

.layout-container {
	background: #fff;
	min-height: 100vh;

	.toolbar {
		margin-bottom: 8px;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;

		@media (max-width: 768px) {
			margin-top: 38px;
		}
	}

	.output-container {
		$border-radius: 8px;
		margin-top: 50px;
		width: 100%;
		font-family: monospace;
		font-size: 14px;
		height: calc(100vh - 240px);
		overflow-y: auto;
		white-space: pre-wrap;
		word-break: break-all;
		position: relative;
		border-radius: $border-radius;

		.log {
			padding: 20px;
			color: #999;
			background-color: #2a2a2a;
			border-radius: $border-radius;

			&-end {
				height: 0;
			}
		}
	}
}
