@use '../utils/_mixins.scss' as mix;

.layout-container {
	background: #fff;
	min-height: 100vh;

	.cover {
		@include mix.flex-center;
		height: 160px;
		background: #eee;
		overflow: hidden;

		.tag {
			position: absolute;
			top: 8px;
			right: 0;
			border: none;
			border-radius: 4px 0 0 4px;
			opacity: 0.8;
			max-width: 100px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}

	.toolbar {
		margin-bottom: 12px;

		@media (max-width: 768px) {
			margin-top: 38px;
		}
	}
}
